APP_HTTP_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=lab
POSTGRES_PASSWORD=lab
POSTGRES_DB=transfers

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=lab
RABBITMQ_PASSWORD=lab
